<div class="container-fluid nav-back">
    <nav class="navbar navbar-expand-lg navbar-light navspace">
        <div class="col-md-6 d-flex justify-content-end">
            <a class="navbar-brand" href="#">
                <img src="../../assets/logo/logo.svg" width="200" height="110" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="col-md-6 d-flex centered-right">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active distancing">
                        <a class="nav-link middle" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item distancing">
                        <a class="nav-link middle" href="#">About</a>
                    </li>
                    <li class="nav-item distancing">
                        <a class="nav-link middle" href="#">News</a>
                    </li>
                    <li class="nav-item distancing dropdown">
                        <a class="nav-link dropdown-toggle middle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servizi</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Servizio Civile Universale</a>
                            <a class="dropdown-item" href="#">Asilo Nido Comunale Vibo Valentia</a>
                            <a class="dropdown-item" href="#">Polo Infanzia Unical</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>