.nav-back {
    background-image: url(../../assets/carousel/banner.jpg);
    min-height: 70rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0%;
}

.navspace {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
}

.centered-right {
    padding-top: 3%;
    padding-left: 5%;
    margin-bottom: 0 auto;
}

.distancing {
    margin-left: 25%;
}

.distancing a {
    color: white;
    font-weight: 650;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #f7ff00;
}

.dropdown-menu {
    margin-top: 6.5%;
    background-color: rgba(0, 0, 0, 0.75);
}

.dropdown-menu:hover a {
    color: black;
}

a.middle {
    position: relative;
}

a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}