.service {
    display: flex;
    padding: 2%;
}

.divisor {
    height: 0rem;
    border: 1px solid #767582;
    margin-top: 3.5%;
    margin-bottom: 3%;
}

.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}

.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}